Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  openmp-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: >
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  performance-*,
  portability-*
FormatStyle: file
