build
install
log

.mapproxy/*
!.mapproxy/.gitkeep

bags/*
!bags/.gitkeep

coug_active_fgo
coug_description
coug_fgo
coug_mapviz
coug_navigation
coug_rqt
coug_template
coug_visual_dvl
holoocean_bridge
holoocean_interfaces
dvl_msgs

.DS_Store
.env
__pycache__
.venv
.vscode
