build
install
log

.mapproxy/*
!.mapproxy/.gitkeep

bags/*
!bags/.gitkeep

coug_active_fgo
coug_comms
coug_description
coug_fgo
coug_helm
coug_interfaces
coug_mapviz
coug_rqt
coug_template
coug_visual_dvl
cougars-wiki
dvl_msgs
HoloOcean
holoocean_bridge
holoocean_interfaces
holoocean-ros
seatrac_interfaces
mapviz
TURTLMap

.DS_Store
.env
__pycache__
.venv
.vscode
