[Unit]
Description=CoUGARs
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/frostlab/cougars-dev
ExecStart=/usr/bin/docker compose up --build
ExecStop=/usr/bin/docker compose down
Restart=on-failure

[Install]
WantedBy=multi-user.target
