displays:
  - type: mapviz_plugins/tf_frame
    name: <agent_ns>
    config:
      visible: true
      collapsed: true
      frame: <agent_ns>/base_link
      color: "#00ff00"
      draw_style: arrows
      position_tolerance: 0
      buffer_size: 1
      static_arrow_sizes: true
      arrow_size: 53
  - type: mapviz_plugins/navsat
    name: <agent_ns>
    config:
      visible: true
      collapsed: true
      topic: /<agent_ns>/gps/fix
      color: "#55aaff"
      draw_style: points
      position_tolerance: 0
      buffer_size: 1
      qos_depth: 10
      qos_history: 1
      qos_reliability: 1
      qos_durability: 2
  - type: mapviz_plugins/path
    name: <agent_ns>
    config:
      visible: true
      collapsed: true
      topic: /<agent_ns>/smoothed_path
      color: "#ff55ff"
      qos_depth: 10
      qos_history: 1
      qos_reliability: 1
      qos_durability: 2
  - type: mapviz_plugins/odometry
    name: <agent_ns>, GT
    config:
      visible: true
      collapsed: true
      topic: /<agent_ns>/odometry/truth
      color: "#ffffff"
      draw_style: lines
      position_tolerance: 0
      buffer_size: 0
      show_laps: false
      show_covariance: false
      show_all_covariances: false
      static_arrow_sizes: false
      arrow_size: 25
      show_timestamps: 0
      qos_depth: 10
      qos_history: 1
      qos_reliability: 1
      qos_durability: 2
  - type: mapviz_plugins/odometry
    name: <agent_ns>, NBR
    config:
      visible: true
      collapsed: true
      topic: /<agent_ns>/base/odometry/global_nbr
      color: "#ffaa00"
      draw_style: lines
      position_tolerance: 0
      buffer_size: 0
      show_laps: false
      show_covariance: true
      show_all_covariances: false
      static_arrow_sizes: false
      arrow_size: 25
      show_timestamps: 0
      qos_depth: 10
      qos_history: 1
      qos_reliability: 1
      qos_durability: 2
  - type: mapviz_plugins/odometry
    name: <agent_ns>, FGO
    config:
      visible: true
      collapsed: true
      topic: /<agent_ns>/base/odometry/global
      color: "#00ff00"
      draw_style: lines
      position_tolerance: 0
      buffer_size: 0
      show_laps: false
      show_covariance: true
      show_all_covariances: false
      static_arrow_sizes: false
      arrow_size: 25
      show_timestamps: 0
      qos_depth: 10
      qos_history: 1
      qos_reliability: 1
      qos_durability: 2
