colorlog==6.12.0
daft-pgm==0.1.4
evo==1.37.1
optuna==4.9.0
optuna-dashboard==0.20.0
pandas==3.0.5
pre-commit==4.6.2
rosbags==0.11.5
scienceplots==2.2.2
seaborn==0.13.2
tmuxp==1.74.0
tqdm==4.70.0
vcstool==0.3.0
